* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: unset;
}

h1 {
  color: #474747;
  font-family: "Museo Sans Cyrl -900";
  font-size: 44px;
  text-align: center;
}

h2 {
  color: #474747;
  font-family: "Museo Sans Cyrl -900";
  font-size: 44px;
}

p {
  color: #333333;
  font-family: "Museo Sans Cyrl -300";
  font-size: 16px;
  line-height: 24px;
  span {
    font-family: "Museo Sans Cyrl -700";
  }
}

.body-width {
  width: 1170px;
  margin: 0 auto;
}

.btn {
  padding: 15px 32px;
  border-radius: 3px;
  background-color: #333333;
  color: #ffffff;
  font-family: "Museo Sans Cyrl -500";
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #333333;
  &-light {
    background: transparent;
    color: #333333;
  }
}

.logo {
  color: #222222;
  font-family: "Cormorant", serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  &-center {
    text-align: center;
  }
  .subtitle {
    padding-top: 14px;
    color: #474747;
    font-family: "Museo Sans Cyrl -300";
    font-size: 20px;
    line-height: 26px;
  }
}

.items {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  &-2 {
    max-height: 1333px;
    overflow: hidden;
    grid-template-columns: repeat(1, 1fr);
  }
  .item {
    height: 440px;
    box-shadow: 0px 10px 13px -10px rgba(0, 0, 0, 0.39);
    &-2 {
      position: relative;
      width: 100% !important;
      display: flex;
      padding: 20px;
      height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.04);
      box-shadow: none;
    }
    &-img {
      position: relative;
      height: 220px;
      background-color: #ededef;
      display: flex;
      justify-content: center;
      align-items: center;
      &-2 {
        width: 270px;
        margin-right: 30px;
        img {
          position: static !important;
          bottom: 0px !important;
        }
      }
      img {
        position: absolute;
        bottom: 60px;
        width: 225px;
      }
    }
    &-content {
      padding-top: 22px;
      text-align: center;
    }
    &-gender {
      padding-top: 0;
      color: #474747;
      font-family: "Museo Sans Cyrl -300";
      font-size: 18px;
    }
    &-brand {
      padding-top: 2px;
      color: #333333;
      font-family: "Cormorant", serif;
      font-size: 30px;
      font-weight: 700;
      font-style: italic;
      &-2 {
        padding-bottom: 25px;
      }
    }
    &-price {
      padding-top: 15px;
      color: #474747;
      font-family: "Museo Sans Cyrl -300";
      font-size: 24px;
      &-2 {
        position: absolute;
        top: 100px;
        right: 70px;
      }
    }
    &-btn {
      margin-top: 20px;
      &-2 {
        margin-top: 20px;
        position: absolute;
        bottom: 56px;
        right: 43px;
        width: 180px;
      }
    }
    &-info {
      text-align: left;
      padding-top: 0;
      display: none;
    }
    &-nal {
      padding-top: 0;
      display: none;
      position: absolute;
      color: #474747;
      font-family: "Museo Sans Cyrl -700";
      font-size: 18px;
      text-decoration: underline;
      top: 37px;
      right: 43px;
    }
  }
}

.links {
  padding-top: 30px;
  display: flex;
  div {
    color: #333333;
    font-family: "Museo Sans Cyrl -500";
    font-size: 16px;
    &:last-child {
      color: #474747;
    }
    img {
      padding: 0 10px;
    }
  }
}

.header {
  background-color: #ececee;
  &__top {
    padding-top: 22px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d7d7d7;
    display: flex;
    justify-content: space-between;
    .menu {
      margin-top: 5px;
      display: flex;
      li {
        color: #222222;
        font-family: "Museo Sans Cyrl -300";
        font-size: 16px;
        padding-right: 60px;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
  &__phone {
    padding-top: 4px;
    color: #222222;
    font-family: "Museo Sans Cyrl -700";
    font-size: 18px;
  }
  &__socials {
    img {
      cursor: pointer;
      margin-right: 23px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__undtop {
    display: flex;
    padding-top: 42px;
    padding-bottom: 40px;
    justify-content: space-between;

    & > div {
      display: flex;
      justify-content: space-between;
    }
  }
  &__openCatalog {
    cursor: pointer;
    padding-top: 8px;
    color: #222222;
    font-family: "Museo Sans Cyrl -500";
    font-size: 16px;
    display: flex;
    padding-left: 120px;
  }
  &__bar {
    &-2 {
      position: relative;
      padding-left: 30px;
      &:before {
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        transform: rotate(45deg);
        background-color: #252525;
        top: 8px;
        right: 0;
        left: -2px;
        bottom: 0;
      }
      &:after {
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        transform: rotate(-45deg);
        background-color: #252525;
        top: 8px;
        right: 0px;
        left: -2px;
        bottom: 0;
      }
    }

    width: 30px;
    margin-right: 10px;
    div {
      height: 2px;
      width: 30px;
      background-color: #222222;
      margin-bottom: 6px;
      &:last-child {
        margin-top: 0;
      }
    }
  }
  &__search {
    padding-top: 5px;
    position: relative;
    margin-right: 140px;
    input {
      outline: none;
      height: 25px;
      width: 300px;
      border: none;
      background-color: #ededef;
      border-bottom: 1px solid #222222;
    }
    img {
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 0;
      padding-left: 3px;
      padding-right: 16px;
      padding-bottom: 3px;
      background-color: #ededef;
    }
  }
  &__cart {
    img {
      cursor: pointer;
      &:last-child {
        margin-left: 25px;
      }
    }
  }
  &__main {
    position: relative;
    display: flex;
    padding-top: 195px;
  }
  &__content {
    min-width: 620px;
  }
  &__subtitle {
    color: #333333;
    font-family: "Museo Sans Cyrl -100";
    font-size: 40px;
    padding-bottom: 25px;
  }
  &__btn {
    margin-top: 40px;
    margin-bottom: 324px;
  }
  &__img {
    position: absolute;
    top: 0;
    right: -370px;
  }
}

.aboutUs {
  &__items {
    padding-top: 88px;
    padding-bottom: 88px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-column-gap: 130px;
  }
  &__item {
    img {
      padding-bottom: 28px;
    }
    &:first-child {
      img {
        padding-top: 42px;
      }
    }
    &:last-child {
      img {
        padding-top: 8px;
      }
    }

    &-name {
      color: #333333;
      font-family: "Museo Sans Cyrl -700";
      font-size: 18px;
      padding-bottom: 10px;
    }
  }
}
.footer {
  padding-top: 48px;
  background-color: #333333;
  .logo {
    padding-bottom: 38px;
    color: #ffffff;
  }
  &__top {
    color: #ffffff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }
  &__numbers {
    padding-bottom: 25px;
  }
  &__email {
    padding-bottom: 25px;
  }
  &__time {
    padding-bottom: 25px;
  }
  &__aboutShop {
    padding-top: 8px;
    font-family: "Museo Sans Cyrl -500";
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 36px;
  }
  &__menu {
    li {
      padding-bottom: 18px;
    }
  }
  &__catalog {
    padding-top: 8px;
    font-family: "Museo Sans Cyrl -500";
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 36px;
    &-items {
      display: flex;
      li {
        padding-bottom: 18px;
      }
    }
    &-1 {
      margin-right: 90px;
    }
  }
  &__bottom {
    padding-top: 15px;
    padding-bottom: 18px;
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-between;
  }
  &__poso {
    color: #fff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 16px;
    text-decoration: underline;
  }
  &__rights {
    color: #bbbbbb;
    font-family: "Museo Sans Cyrl -300";
    font-size: 16px;
  }
  &__poco {
    color: #fff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 16px;
    text-decoration: underline;
  }
}

.catalog {
  display: none;
  &-close {
    display: none;
    span {
      margin-left: 40px;
    }
  }
  &-open {
    display: flex;
  }
}

.catalog {
  display: none;
  padding-top: 60px;
  background-color: #f1f1f1;
  &__down {
    display: none;
  }
  &__main {
    display: flex;
    padding-bottom: 40px;
  }
  &__menu {
    width: 300px;
    margin-right: 80px;
  }
  &__funct {
    padding: 16px 0;
    color: #474747;
    font-family: "Museo Sans Cyrl -700";
    font-size: 18px;
    position: relative;
    border-bottom: 1px solid #d5d5d5;
    line-height: 24px;
    &:hover {
      text-decoration: underline;
      font-family: "Museo Sans Cyrl -900";
    }
    &:after {
      position: absolute;
      content: "";
      background-image: url(../img/arrow1.png);
      transform: rotate(90deg);
      top: 28px;
      right: 0;
      width: 10px;
      height: 6px;
    }
  }
  &__items {
    padding-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 30px;
  }
  &__item {
    &-name {
      padding-bottom: 20px;
      color: #474747;
      font-family: "Museo Sans Cyrl -500";
      font-size: 16px;
    }
    li {
      color: #333333;
      font-family: "Museo Sans Cyrl -300";
      font-size: 16px;
      line-height: 26px;
    }
    &-more {
      color: #333333;
      font-family: "Museo Sans Cyrl -500";
      font-size: 16px;
      text-decoration: underline;
      padding-top: 5px;
      cursor: pointer;
    }
  }
}

.main {
  padding-top: 60px;
  h1 {
    padding-bottom: 60px;
  }
  &__serv {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #efefef;
  }
  &__filtr {
    color: #474747;
    font-family: "Museo Sans Cyrl -500";
    font-size: 18px;
    line-height: 24px;
    display: flex;
    span {
      margin-right: 10px;
    }
    p {
      position: relative;
      top: 1px;
      padding-top: 0 !important;
    }
  }
  &__view {
    display: flex;
  }
  &__lines {
    margin-right: 30px;
    cursor: pointer;
  }
  &__grid {
    cursor: pointer;
  }

  &__hover {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__main {
    padding-top: 50px;
    display: flex;
  }
  &__sidebar {
    width: 270px;
    margin-right: 50px;
  }
  &__choseFiltr {
    color: #474747;
    font-family: "Museo Sans Cyrl -300";
    font-size: 16px;
    span {
      font-family: "Museo Sans Cyrl -700";
      font-size: 20px;
    }
    padding-bottom: 28px;
    border-bottom: 1px solid #efefef;
  }
  &__price {
    padding-top: 28px;
    padding-bottom: 25px;
    color: #474747;
    font-family: "Museo Sans Cyrl -700";
    font-size: 20px;
    &-content {
      padding-top: 22px;
      span {
        color: #818181;
        font-family: "Museo Sans Cyrl -300";
        font-size: 16px;
        padding-right: 9px;
      }
      input {
        width: 65px;
        height: 24px;
        padding: 5px;
        border: none;
        border: 1px solid #d2d2d2;
        color: #474747;
        font-family: "Museo Sans Cyrl -500";
        font-size: 16px;
      }
    }
    &-line {
      color: #474747;
      font-family: "Museo Sans Cyrl -500";
      font-size: 16px;
      margin: 10px 28px;
      padding-right: 0 !important;
    }
    &-bar {
      margin-top: 28px;
      width: 270px;
      height: 3px;

      background-color: #333333;
      border-left: 46px solid #8e8e8e;
      border-right: 46px solid #8e8e8e;
      position: relative;
      &-cyrcl {
        position: absolute;
        top: -6px;
        right: -2px;
        width: 14px;
        height: 14px;
        background-color: #333333;
        border-radius: 50%;
        border: 3px solid #fff;
        &-1 {
          top: -6px;
          left: -2px;
        }
        &-2 {
          top: -6px;
          right: -2px;
        }
      }
    }
  }
  &__slider {
    width: 100%;
  }
  &__items {
    max-height: 100%;
    margin-bottom: 0px;
  }

  &__menu {
    & > li {
      border-bottom: 1px solid #d5d5d5;
    }
    a:hover {
      text-decoration: underline;
      font-family: "Museo Sans Cyrl -900";
    }
    font-size: 16px;
    &-2 {
      color: #474747;
      font-family: "Museo Sans Cyrl -500";
      line-height: 40px;
      padding-left: 30px;
      display: none;
      li {
        display: flex;
        justify-content: space-between;
      }
    }
    &-3 {
      padding-left: 30px;
      color: #333333;
      font-family: "Museo Sans Cyrl -300";
      display: none;
      li {
        display: flex;
        justify-content: space-between;
      }
      a:hover {
        text-decoration: underline;
        font-family: "Museo Sans Cyrl -500";
      }
    }
    &-4 {
      padding-left: 30px;
      color: #333333;
      font-family: "Museo Sans Cyrl -300";
      line-height: 18px;
      padding-right: 20px;
      display: none;
      li {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
      }
      a:hover {
        text-decoration: underline;
        font-family: "Museo Sans Cyrl -500";
      }
    }
  }

  &__funct {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    color: #474747;
    font-family: "Museo Sans Cyrl -700";
    font-size: 18px;

    a:hover {
      text-decoration: underline;
      font-family: "Museo Sans Cyrl -900";
    }
  }
  &__arrow {
    cursor: pointer;
    .fa-chevron-up {
      display: none;
    }
  }
  &__open-item {
    & > ul {
      display: block;
    }
  }
  &__open-chevron {
    transform: rotate(180deg);
  }
  &__content {
    max-width: 100% !important;
  }
  p {
    padding-top: 30px;
  }
  &-open {
    display: block !important;
  }
}
@media (max-width: 1680px) {
  .header__main {
    padding-top: 100px;
  }
  .header__img {
    position: absolute;
    top: 0;
    right: -205px;
    img {
      width: 680px;
    }
  }
  .header__btn {
    margin-bottom: 224px;
  }
}
@media (max-width: 1440px) {
  .header__img {
    right: -120px;
  }
}
@media (max-width: 1366px) {
  .header__main {
    padding-top: 140px;
  }
  .header__img {
    top: 117px;
    right: -92px;
    img {
      width: 650px;
    }
  }
  .header__btn {
    margin-bottom: 120px;
  }
}
@media (max-width: 1280px) {
  .header__main {
    padding-top: 140px;
  }
  .header__img {
    top: 68px;
    right: -54px;
  }
  h1 {
    font-size: 64px;
  }
  .header__subtitle {
    font-size: 34px;
  }

  .popularGoods__text {
    padding-top: 50px;
    min-width: 460px;
  }
}
@media (max-width: 1024px) {
  .items .item-2 {
    padding: 0px;
  }
  .items .item-btn-2 {
    bottom: 20px;
  }
  .items {
    display: -ms-grid !important;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    .item {
      &:nth-child(9) {
        display: none;
      }
      &:nth-child(8) {
        display: none;
      }
      &:nth-child(7) {
        display: none;
      }
    }
  }
  .main__lines {
    display: none;
  }
  .body-width {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .header__main {
    display: block;
  }
  .header__btn {
    margin-bottom: 435px;
  }
  .header__img {
    top: 447px;
    right: 50%;
    transform: translateX(50%);
  }
  .header__content {
    text-align: center;
  }
  .popularGoods__img {
    img {
      width: 90%;
    }
  }
  .brands__items {
    width: 100%;
  }
  .brand__item {
    img {
      margin: 0 auto;
    }
  }
  .header__openCatalog {
    padding-left: 40px;
  }
  .header__search {
    margin-right: 40px;
  }
}

@media (max-width: 1023px) {
  .nav {
    display: none;
  }
  .header__undtop {
    order: -1;
    flex-direction: column;
    padding-top: 0px;
  }
  .header__undtop > div {
    display: flex;
    justify-content: space-between;
    padding: 18px 0px;
    &:last-child {
      border-top: 1px solid #d7d7d7;
    }
  }
  .header .body-width {
    display: flex;
    flex-direction: column;
  }
  .header__top {
    flex-direction: column;
    text-align: center;
  }
  .header__phone {
    padding-bottom: 30px;
  }
  .header__main {
    padding-top: 62px;
  }
  .header__img {
    img:first-child {
      display: none;
    }
    img {
      width: 550px;
    }
  }
  .header__img-2 {
    display: block;
  }
  .items {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 40px;
    column-gap: 0px;
    .item {
      width: 270px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
  .popularGoods__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    padding-top: 0px;
  }
  .popularGoods__item {
    display: block;
    justify-content: center;
    margin-right: 0;
    margin: 0px 15px;
  }
  .popularGoods__text {
    text-align: center;
    padding-bottom: 30px;
    .subtitle {
      margin: 0 auto;
    }
  }
  .aboutUs__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
  }
  .aboutUs__img {
    margin-right: 0px;
    position: relative;
    text-align: center;
    img {
      margin: 0 auto;
    }
  }
  .bestOffers {
    padding-top: 40px;
  }
  .brands {
    padding-top: 40px;
  }
  .aboutUs__title-2 {
    display: block;
  }
  .aboutUs__title-1 {
    display: none;
  }
  .aboutUs__text {
    text-align: center;
    margin: 0 auto;
  }
  .footer .logo {
    order: -1;
  }
  .footer__top {
    flex-direction: column;
    text-align: center;
    & > div {
      &:nth-child(2) {
        order: 5;
      }
      &:nth-child(3) {
        order: 6;
      }
    }
  }
  .footer__contacts {
    display: none;
  }
  .footer__contacts-2 {
    display: block;
    order: 7;
  }
  .footer__catalog-items {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .footer__catalog-1 {
    margin-right: 0px;
  }
  .footer__catalog-2 {
    order: -1;
    padding-bottom: 30px;
  }
  .footer__bottom {
    text-align: center;
    flex-direction: column;
    div {
      padding-bottom: 15px;
    }
  }
  .footer__rights {
    order: 2;
  }
  .catalog__items {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  .catalog__down {
    display: block;
  }
  .catalog__funct:after {
    display: none;
  }
  .catalog__funct {
    display: flex;
    justify-content: space-between;
  }
  .header__search {
    margin-right: 0px;
    display: inline-block;
  }
  .catalog__items {
    grid-template-columns: 1fr;
  }
  .header__bar-2:before {
    top: 6px;
    right: 0;
    left: 5%;
    bottom: 0;
  }
  .header__bar-2:after {
    top: 6px;
    right: 0;
    left: 5%;
    bottom: 0;
  }
  .header__openCatalog {
    position: relative;
    top: 20px;
    padding-bottom: 20px;
  }
  .popularGoods__img img {
    width: 60%;
  }
  .aboutUs__items {
    padding-top: 88px;
    padding-bottom: 88px;
    grid-template-columns: 1fr;
    text-align: center;
    grid-column-gap: 0px;
    & > div {
      padding: 20px 0px;
    }
  }
  .header__content {
    min-width: 100%;
  }
  .items {
    grid-template-columns: repeat(1, 1fr);
  }
  .aboutUs__img {
    img {
      width: 100%;
    }
  }
  .header__img {
    top: 558px;
  }
  .header__img img {
    width: 160%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .header__undtop > div {
    display: block;
    text-align: center;
    justify-content: center;
    & > div {
      padding: 10px 0;
    }
  }
  .header__openCatalog {
    padding-left: 0px;
    display: inline-block;
    margin: 0 auto;
  }
  .header__bar {
    margin-right: 0px;
    margin: 0 auto;
  }
}
@media (max-width: 640px) {
  .main__main {
    padding-top: 50px;

    display: block;
  }
  .main__sidebar {
    width: 270px;
    margin: 20px auto;
  }
  .main__content {
    max-width: 100% !important;
  }
  .items {
    .item {
      &:nth-child(9) {
        display: none;
      }
      &:nth-child(8) {
        display: none;
      }
      &:nth-child(7) {
        display: none;
      }
    }
  }
}
@media (max-width: 540px) {
  .catalog__main {
    display: block;
    padding-bottom: 40px;
  }
  .catalog__menu {
    width: 300px;
    margin-right: 0px;
    margin: 0 auto;
  }
  .catalog__items {
    text-align: center;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 40px;
  }
  .links {
    display: none;
  }
  h2 {
    color: #474747;
    font-family: "Museo Sans Cyrl -900";
    font-size: 36px;
  }
  .popularGoods__text .subtitle {
    width: 100%;
  }
  .popularGoods__text {
    min-width: 100%;
  }
  .header__search {
    margin-right: 0px;
  }
  .header__btn {
    margin-bottom: 281px;
  }
  .faq__question {
    font-size: 14px;
    padding-bottom: 25px;
    padding-right: 45px;
  }
  .faq__answer {
    padding-left: 0px;
    padding-bottom: 24px;
    padding-right: 0px;
    display: none;
  }
}
@media (max-width: 340px) {
  .header__search input {
    width: 280px;
  }
  h1 {
    font-size: 56px;
  }
  .header__img {
    top: 599px;
  }
  .popularGoods__price span {
    bottom: 100px;
    right: 89px;
  }
  .popularGoods__brand {
    font-size: 24px;
  }
  .catalog__menu {
    width: 280px;
    margin-right: 0px;
    margin: 0 auto;
  }
  .catalog {
    .body-width {
      padding: 0;
    }
  }
}
